---
import SecExperiencia from "../components/SecExperiencia.astro";
import SecHabilidades from "../components/SecHabilidades.astro";
import SecHero from "../components/SecHero.astro";
import SecProyectos from "../components/SecProyectos.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio - AFE">
  <main>
    <SecHero />
    <SecExperiencia />
    <SecHabilidades />
    <SecProyectos />
  </main>
</Layout>

<style></style>
